@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.navbar {
  height: 95px;
  background:rgba(46, 46, 46, 1.0);
  left:0;
  top:0;
  float:left;
  width:100%;
  -ms-transition:     all 0.3s ease-out;
  -moz-transition:    all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition:      all 0.3s ease-out;
  transition:         all 0.5s ease-out;
}

.navbar.scrolled{
  background:rgba(46, 46, 46, 0.6);
  height: 60px;
  font-size: 16px;
}

.img-logo {
  height: 70px;
  -ms-transition:     all 0.3s ease-out;
  -moz-transition:    all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition:      all 0.3s ease-out;
  transition:         all 0.4s ease-out;
}

.img-logo.scrolled {
  height: 60px;
}

/* LINKS */
a.nav-item {
  color: white;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
  font-size: 20px;
}

a.nav-item:hover {
  color: #78B443;
}

span#icon-menu-collapse {
  color: white;
}

div#img-home {
  margin-top: 95px;
  padding: 0px;
}

div#img-home-a {
  padding: 0px;
}

.descricao {
  font-size: 20px;
}

.card {
  box-shadow: 7px 9px 44px -19px rgba(150,141,150,1);
}

h2 {
  font-size: 35px;
}